<div class="page-wrapper">
    <div class="container-fluid p-0">
        <!-- Unlock page start-->
        <div class="authentication-main mt-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card">
                        <div>
                            <div>
                                <a class="logo"  routerLink='/'>
                                    <img class="img-fluid for-light" src="assets/images/logo/logo-global-erp-blue-orange.png" height="50" width="222" alt="looginpage" >
                                    <img class="img-fluid for-dark" src="assets/images/logo/logo-global-erp-black-white.png" height="35" width="122" alt="looginpage">
                                </a>
                            </div>

                            <div class="login-main">
                                <form class="theme-form" [formGroup]="otpVerificationForm" (ngSubmit)="userOtpVerification()">
                                    <h4>OTP</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">Enter OTP</label>
                                        <input
                                                formControlName="otp"
                                                class="form-control"
                                                [type]="'text'"
                                                name="login[otp]"
                                                required=""
                                                placeholder="*********">
                                        <!--                                        <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>-->
                                        <!--                                        <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>-->
                                    </div>
                                    <div class="form-group mb-0">
                                        <!--                                        If don't receive OTP?  Resend-->
                                        <div class="text-start mt-2 mb-2">
                                            <span class="reset-password-link">If don't receive OTP?
                                                <a class="btn-link text-danger" (click)="resendOtp()" style="cursor: pointer;">Resend</a>
                                            </span>
                                        </div>

                                        <button class="btn btn-primary d-block w-100" type="submit" [disabled]=login>
                                            <ng-container *ngIf="!login; else isLogin">Go to reset</ng-container>
                                            <ng-template #isLogin>
                                                <button class="btn btn-primary"><i class="fa fa-spin fa-spinner me-2"></i>Loading...</button>
                                            </ng-template>
                                        </button>
                                    </div>
                                    <p class="mt-4 mb-0">Already Have an account?<a class="ms-2" [routerLink]="'/auth/login'">Sign in</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Unlock page end-->
    </div>
</div>
