<div class="page-wrapper">
    <div class="container-fluid p-0">
        <!-- Unlock page start-->
        <div class="authentication-main mt-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card">
                        <div>
                            <div>
                                <a class="logo"  routerLink='/'>
                                    <img class="img-fluid for-light" src="assets/images/logo/logo-global-erp-blue-orange.png" height="50" width="222" alt="looginpage" >
                                    <img class="img-fluid for-dark" src="assets/images/logo/logo-global-erp-black-white.png" height="35" width="122" alt="looginpage">
                                </a>
                            </div>
                            <div class="login-main">
                                <form class="theme-form" [formGroup]="phoneVerificationForm" (ngSubmit)="userPhoneVerification()">
                                    <h4>Reset Your Password</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">Enter Your Mobile Number</label>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input class="form-control mb-1" type="text" value="+ 237">
                                            </div>
                                            <div class="col-md-9">
                                                <input class="form-control mb-1"
                                                       formControlName="phone"
                                                       type="tel"
                                                       placeholder="677777777"
                                                >
                                            </div>
                                            <div class="col-12">
<!--                                                <button class="btn btn-primary d-block w-100 m-t-10" type="submit">Send</button>-->
                                                <button class="btn btn-primary d-block w-100 m-t-10" type="submit" [disabled]=login>
                                                    <ng-container *ngIf="!login; else isLogin">Send</ng-container>
                                                    <ng-template #isLogin>
                                                        <button class="btn btn-primary"><i class="fa fa-spin fa-spinner me-2"></i>Loading...</button>
                                                    </ng-template>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="mt-4 mb-0">Already Have an account?<a class="ms-2" [routerLink]="'/auth/login'">Sign in</a></p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Unlock page end-->
    </div>
</div>
